/* bokor-regular - latin */
@font-face {
  font-family: 'Bokor';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/bokor-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/bokor-v30-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/bokor-v30-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/bokor-v30-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/bokor-v30-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/bokor-v30-latin-regular.svg#Bokor') format('svg'); /* Legacy iOS */
}
* {
  box-sizing: border-box;
  font-family: 'Bokor', sans-serif;
  font-size: 20px;
  color: azure;
  margin: 0;
  padding: 0;
}

body {
  background: url(./assets/home.png) center no-repeat;
  /* min-height: 100vh;
  background-size: cover;
  padding: 15px; */
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 20px;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

main {
  display: flex;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 20px;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

.ancient-img {
  cursor: pointer;
}
.ancients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 18%;
  max-height: 70%;
  padding: 20px;
}
.ancient_div .ancient-img {
  display: flex;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  cursor: pointer;
  height: 310px;
  width: 240px;
}

.ancient_div:hover,
.deck:hover {
  scale: 1.05;
  transition: all ease 0.5s;
  box-shadow: 0px 3px 17px 5px gold;
}
/* .ancient_div:last-child {
  margin-right: 0;
} */

.active {
  /* border: 2px solid red; */
  box-shadow: 0px 3px 17px 5px darkviolet;
}

.act {
  /* border: 2px solid black; */

  border-radius: 5px;
  box-shadow: 0px 3px 17px 5px blueviolet, inset 0px 0px 10px 5px blueviolet;
}
.shuffle-btn {
  display: flex;
  align-items: center;
  padding: 10px;
}
.shuffle {
  cursor: pointer;
  border: 1px blueviolet;
  background: transparent;
  border-radius: 5px;
  padding: 0 5px;
  box-shadow: 0px 3px 17px 5px blueviolet, inset 0px 0px 10px 5px blueviolet;
}
.shuffle:hover {
  color: darkviolet;
  transition: all ease 1s;
  box-shadow: 0px 3px 17px 5px gold, inset 0px 3px 17px 2px gold;
}
.difficulty-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: center;
  width: 70px;
}
.difficulty:hover {
  cursor: pointer;
  transition: all ease 1s;
  color: darkviolet;
  text-shadow: 1px black;
}
.difficulty {
  height: 40px;
  padding: 1px;
  text-align: center;
}

.counter-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  min-width: 18%;
}

.hide {
  transition: all ease 0.5s;
  opacity: 0;
  visibility: hidden;
  transition: 0.55s opacity, 0.55s visibility;
}

.deck {
  cursor: pointer;
  background-image: url('./assets/mythicCardBackground.jpg');
  box-shadow: 0px 3px 17px 5px blueviolet;
}

.deck,
.last-card {
  transition: all ease 1s;
  background-size: cover;
  height: 310px;
  width: 240px;
}

.current-state {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 30%;
}

.stage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dots-container-1,
.dots-container-2,
.dots-container-3 {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.dot {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}

.green {
  background: green;
}

.brown {
  background: brown;
}

.blue {
  background: blue;
}
