/* bokor-regular - latin */
@font-face {
  font-family: 'Bokor';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/bokor-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/bokor-v30-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/bokor-v30-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/bokor-v30-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/bokor-v30-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/bokor-v30-latin-regular.svg#Bokor') format('svg'); /* Legacy iOS */
}
* {
  box-sizing: border-box;
  font-family: 'Bokor', sans-serif;
  font-size: 20px;
  color: azure;
  margin: 0;
  padding: 0;
}

body {
  background: url(./assets/home.png) center no-repeat;
  /* min-height: 100vh;
  background-size: cover;
  padding: 15px; */
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 20px;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

main {
  display: flex;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 20px;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

.ancient-img {
  cursor: pointer;
}
.ancients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 37%;
  max-height: 70%;
  padding: 20px;
}
.ancient_div .ancient-img {
  display: flex;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  cursor: pointer;
  height: 260px;
  width: 200px;
}

.ancient_div:hover {
  scale: 1.05;
}
/* .ancient_div:last-child {
  margin-right: 0;
} */

.active {
  border: 2px solid red;
}

.dif-act {
  border: 2px solid red;
  color: darkviolet;
  border-radius: 5px;
  padding: 0 5px;
}
.shuffle-btn {
  display: flex;
  align-items: center;
  padding: 10px;
}
.shuffle {
  cursor: pointer;
  border-color: black;
  background: transparent;
  border-radius: 5px;
  padding: 0 5px;
}
.shuffle:hover {
  color: darkviolet;
  transition: all ease 1s;
}
.difficulty-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: center;
}
.difficulty:hover {
  cursor: pointer;
  transition: all ease 1s;
  color: darkviolet;
  text-shadow: 1px black;
}

.counter-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  min-width: 30%;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: 0.55s opacity, 0.55s visibility;
}

.deck {
  cursor: pointer;
  background-image: url('./assets/mythicCardBackground.png');
}

.deck,
.last-card {
  background-size: cover;
  height: 190px;
  width: 130px;
}

.current-state {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 30%;
}

.stage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dots-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}
